@import url("https://fonts.google.com/specimen/Roboto+Condensed");
body {
  font-family: Roboto;
  margin: 0;
  padding: 0; }
  body .header {
    font-size: 12px; }
    body .header__row {
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 767px) {
        body .header__row {
          font-size: 16px; } }
      body .header__row--right {
        width: 16%; }
        @media screen and (max-width: 767px) {
          body .header__row--right {
            width: inherit; } }
    body .header__text img {
      width: 12%; }
    body .header__text:nth-of-type(1) {
      padding-right: 15px; }
  body .content__title {
    font-size: 18px;
    -webkit-font-smoothing: antialiased; }
    @media screen and (max-width: 767px) {
      body .content__title {
        font-size: 28px;
        line-height: 27px;
        text-align: center; } }
  body .content__carousel {
    margin-bottom: 100px;
    position: relative; }
    @media screen and (max-width: 767px) {
      body .content__carousel {
        margin-bottom: 0; } }
    body .content__carousel-banner {
      border-bottom: 33px solid #646464;
      border-left: 33px solid transparent;
      border-right: 33px solid transparent;
      color: #fff;
      font-size: 13px;
      height: 0;
      left: -8.6%;
      line-height: 32px;
      position: absolute;
      text-align: center;
      transform: rotate(-45deg);
      top: 14%;
      width: 43%;
      z-index: 1; }
      @media screen and (max-width: 767px) {
        body .content__carousel-banner {
          border-bottom: 25px solid #646464;
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          font-size: 14px;
          left: -26px;
          top: 20px; } }
    body .content__carousel .carousel-indicators {
      bottom: -90px !important;
      margin: 0; }
      @media screen and (max-width: 767px) {
        body .content__carousel .carousel-indicators {
          display: none; } }
      body .content__carousel .carousel-indicators li {
        margin-left: 0;
        height: 85px;
        width: 125px; }
        body .content__carousel .carousel-indicators li:last-of-type {
          margin-right: 0; }
    body .content__carousel .carousel-control-next,
    body .content__carousel .carousel-control-prev {
      opacity: 1; }
    body .content__carousel .carousel-control-next,
    body .content__carousel .carousel-control-prev {
      width: 4.9%; }
    body .content__carousel .carousel-control-prev-icon {
      background-image: url("../images/carousel-arrow.png"); }
    body .content__carousel .carousel-control-next-icon {
      background-image: url("../images/carousel-arrow.png");
      transform: rotate(180deg); }
  body .content__data-row {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    margin-bottom: 10px; }
    @media screen and (max-width: 767px) {
      body .content__data-row span {
        font-size: 21px; } }
  body .content__data-price {
    background-color: #f2f2f2;
    padding: 7px 0 13px; }
    @media screen and (max-width: 767px) {
      body .content__data-price {
        order: 1; } }
    body .content__data-price p {
      font-size: 22px;
      margin-bottom: 0; }
    body .content__data-price span {
      font-size: 14px; }
      @media screen and (max-width: 767px) {
        body .content__data-price span {
          font-size: 18px; } }
  body .content__data-contact {
    margin: 50px 0 0 auto; }
    @media screen and (max-width: 767px) {
      body .content__data-contact {
        margin-top: 10px; } }
    body .content__data-contact p {
      font-size: 19px; }
      body .content__data-contact p img {
        width: 10%; }
      @media screen and (max-width: 767px) {
        body .content__data-contact p {
          font-size: 26px; } }
  body .content__data-buttons {
    font-size: 13px; }
    @media screen and (max-width: 767px) {
      body .content__data-buttons {
        font-size: 19px;
        margin-top: 30px; } }
  body .content__data-button {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    margin-top: 13px;
    padding: 9px 0; }
    @media screen and (max-width: 767px) {
      body .content__data-button {
        padding: 11px 0; } }
  body .content .tabs {
    color: #000;
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
    width: 100%; }
    @media screen and (max-width: 767px) {
      body .content .tabs {
        margin-top: 20px; } }
    body .content .tabs__button {
      background: #efefef;
      cursor: pointer;
      font-size: 13px;
      margin-bottom: 0;
      padding: 10px 30px; }
      @media screen and (max-width: 767px) {
        body .content .tabs__button {
          font-size: 0.99rem;
          padding: 15px 13px; } }
    body .content .tabs__input, body .content .tabs__content {
      display: none;
      font-size: 12px; }
      @media screen and (max-width: 767px) {
        body .content .tabs__input, body .content .tabs__content {
          font-size: 16px; } }
    body .content .tabs__input:checked + label {
      background: #e0dcd9;
      font-weight: bold; }
      body .content .tabs__input:checked + label + .tabs__content {
        display: block; }
    body .content .tabs__content {
      background: #e0dcd9;
      font-size: 12px;
      height: 100%;
      padding: 20px 30px 35px;
      order: 1; }
      @media screen and (max-width: 767px) {
        body .content .tabs__content {
          font-size: 0.95rem;
          padding: 30px 15px 22px; } }
  body .footer {
    margin-top: 30px; }
    body .footer__text {
      color: #ababab;
      font-size: 12px; }
      @media screen and (max-width: 767px) {
        body .footer__text {
          font-size: 18px; } }

